/* Importation des polices  */
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    height: 100vh;
    background-color: #dfe4ea;
    position: relative;
}

img{
    width: 100%;
    object-fit: cover;
}

p{
    font-weight: 400;
}

em{
    font-style: normal;
}
p.title{
    font-size: 25px;
    color: #191919;
    margin-bottom: 20px;
    position: relative;
}
p.title::before{
    content: '';
    width: 100px;
    height: 4px;
    border-radius: 5px;
    background-color: #282525;
    position: absolute;
    left: 0;
    bottom: 0;
}

.banniere{
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(images/banniere.webp);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

/* Hedear du site */
header{
    padding: 20px 50px;
}

a{
    text-decoration: none;
}

.flex{
    display: flex;
}

.container-flex{
    justify-content: space-between;
    align-items: center;
}
.container-flex-item1 a{
    display: block;
    font-size: 30px;
    font-weight: bold;
    color: white;
}
.container-flex-item1 .point{
    font-size: 35px;
    color: #dcdde1;
}
.container-flex-item2 ul{
    list-style: none;
    display: flex;
    align-items: center;
    gap: 30px;
}
.container-flex-item2 ul li a{
    font-size: 18px;
    color: #7f8fa6;
}
.container-flex-item2 ul li a.white{
    font-size: 18px;
    color: white;
}
.container-flex-item2 ul li a:hover{
    color: white;
}

#container-burger{
    display: none;
}
#logo-burger{
    display: block;
    color: white;
    font-size: 32px;
    letter-spacing: 2px;
    font-weight: bold;
    cursor: pointer;
    position: relative;
    z-index: 5000;
}
#logo-burger span.open{
    display: inline-block;
    rotate: 90deg;
}
#logo-burger span.close{
    display: none;
}
#burger{
    display: none;
}
.menu-burger{
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    background-color: rgba(0, 0, 0, 0.8);
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);
    position: absolute;
    right: 0;
    left: 0;
    top: 0;
    z-index: 100;
    height: 50vh;
    -webkit-transform: translateY(-100%);
    transform: translateY(-100%);
    transition: transform .3s linear;
}
.menu-burger li a{
    display: inline-block;
    /* color: #282525; */
    color: #BCBAC7;
    font-size: 22px;
    position: relative;
}
.menu-burger li a:hover{
    color: white;
}
.menu-burger li a.black{
    color: white;
}
.menu-burger li a::before{
    content: '';
    height: 2px;
    background-color: white;
    position: absolute;
    left: 0;
    bottom: -2px;
    width: 0%;
    transition: all .3s linear;
}
.menu-burger li a:hover::before{
    width: 100%;
}

/* Section accueil */
#section-accueil{
    padding: 150px 30px 80px;
}

#section-accueil .grid-container{
   display: grid;
   grid-template-areas: 'item1 item1 item1 item2'
                        'item1 item1 item1 item2'
                        'item1 item1 item1 item2'
   ;
}
.grid-container-item1{
    grid-area: item1;
}
.grid-container-item1 h1{
    width: 850px;
    font-size: 3.5em;
    color: white;
    -webkit-animation: translateY .4s ease-in-out;
    animation: translateY .5s ease-in-out;
}

@-webkit-keyframes translateY{
    from{
        scale: 0.1;
        opacity: 0;
        rotate: 320deg;
    }
}
@keyframes translateY{
    from{
        scale: 0.1;
        opacity: 0;
        rotate: 320deg;
    }
}

.grid-container-item1 .container-btn{
    margin-top: 60px;
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: center;
    gap: 20px;
}
.grid-container-item1 .container-btn p{
    color: white;
    font-size: 18px;
    line-height: 28px;
}
.grid-container-item1 .center{
    align-items: center;

}
.container-btn div{
    font-family: 'Poppins', sans-serif;
}
.container-btn div:last-child{
    background-color: rgba(0, 0, 0, 0.277);
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);
    padding: 10px;
}
.container-btn .description{
    width: 70%;
}
.grid-container-item1 .container-btn .flex-btn{
    display: flex;
    align-items: center;
    gap: 20px;
    font-size: 18px;
    padding: 12px 18px;
    color: black;
    background-color: white;
    border-radius: 9999px;
    outline: none;
    border: none;
    font-weight: 700;
    cursor: pointer;
    box-shadow: 0 0 2px rgba(255, 255, 255, 0.397);
}
.grid-container-item1 .container-btn .flex-btn:focus{
    outline: 2px solid #000;
}
.grid-container-item1 .container-btn .flex-btn div{
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    color: white;
    background-color: black;
}
.grid-container .grid-container-item2{
    grid-area: item2;   
}
.grid-container .grid-container-item2 .flex-contact{
    display: flex;
    flex-direction: column;
    align-items: end;
    height: 100%;
    gap: 180px;
    justify-content: space-between;
}
.grid-container .grid-container-item2 .contact-reseau{
    flex-direction: column;
    align-items: center;
    gap: 20px;
}
.grid-container-item2 .contact-reseau div{
    color: white;
    font-size: 20px;
    width: 50px;
    height: 50px;
    padding: 20px;
    border: 1px solid white;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.grid-container-item2 .contact-reseau div:hover{
    background-color: white;
    color: black;
}
.grid-container-item2 .flex-contact .flex-explore{
    align-items: center;
    gap: 5px;
    color: white;
    font-size: 20px;
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.305);
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);
}

/* Partie principal du site */

/* La section à propos */
#section-apropos{
    padding: 100px 40px;
    background-color: white;
}

#section-apropos .container-apropos header{
    flex: 1.3;
}
.container-apropos header h1{
    font-size: 2.3em;
}
#section-apropos .container-apropos .apropos-article{
    flex: 2;
}
.container-apropos .apropos-article article{
    font-family: 'Poppins', sans-serif;
    line-height: 32px;
}
.container-apropos .apropos-article article p{
    max-width: 700px;
}
.apropos-article article ul{
    max-width: 700px;
    list-style-position: inside;
    margin-top: 8px;
}
.apropos-article article ul li::first-letter{
    text-transform: uppercase;
}
.apropos-article article ul li::marker{
    font-size: 1.5em;
}
.apropos-article article .flex-statistique{
    margin-top: 30px;
    justify-content: space-between;
    gap: 30px;
}

.apropos-article article .flex-statistique section h2{
    font-weight: 700;
    font-family: 'Roboto', sans-serif;
    text-align: center;
}
.apropos-article article .flex-statistique section p{
    color: #191919;
    text-align: center;
}

/* La section destinations */
#section-destination{
    padding: 100px 20px;
    background-color: #f1f2f6;
}
#section-destination h1{
    font-size: 2.3em;
}
#section-destination header .flex-destination{
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 20px;
}
#section-destination header .flex-destination div:nth-child(1){
    width: min(100%, 500px);
}
#section-destination header .flex-destination div:nth-child(2){
    align-self: flex-end;
}
#section-destination header .flex-destination div:nth-child(2) p{
    font-size: 17px;
    
}
#section-destination .grid-destination{
    margin: 30px 0 50px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}
#section-destination .grid-destination img{
    border-radius: 10px;
}
#section-destination .grid-destination .element1{
    grid-column: 1/3;
}

#section-destination .grid-destination .element-grid-destination img{
    max-height: 450px;
    height: 400px;
}
#section-destination .grid-destination .element-grid-destination .article-destionation-relative:hover img{
    filter: saturate(20%);
}
.grid-destination .element-grid-destination .article-destionation-relative{
    position: relative;
    overflow: hidden;
}
.grid-destination .element-grid-destination .article-destionation-relative:hover .content-absolute{
    transform: translateY(0);
    opacity: 1;
    visibility: visible;
}
.grid-destination .element-grid-destination .article-destionation-relative .content-absolute{
    position: absolute;
    bottom: 4px;
    left: 0;
    right: 0;
    background-color: rgba(12, 12, 12, 0.9);
    color: white;
    padding: 20px;
    font-family: 'Poppins', sans-serif;
    transform: translateY(800px);
    opacity: 0;
    visibility: hidden;
    transition: all .3s ease-in-out;
    border-radius: 0 0 10px 10px;
}
.element-grid-destination .article-destionation-relative .content-absolute h2{
    font-size: 1.5em;
}
.element-grid-destination .article-destionation-relative .content-absolute p{
    line-height: 25px;
}

.container-btn{
    border-top: 40px;
    text-align: center;
}
.container-btn a{
    display: inline-block;
    background-color: #191919;
    color: white;
    border-radius: 9999px;
    padding: 12px 24px;
    box-shadow: 0 4px 2px rgba(0, 0, 0, 0.5);
    font-size: 20px;
}
.container-btn a:active{
    transform: translateY(5px);
}

/* Section galleries */
#section-gallery{
    padding: 100px 40px;
}
#section-gallery .grid-gallery{
    display: grid;
    grid-template-columns: 15% 80%;
    gap: 40px;
}
.element1-gallery{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.element1-gallery .none-mobile a,
.element2-gallery .none-desktop a{
    display: flex;
    gap: 2px;
    color: black;
    font-weight: 600;
    position: absolute;
}
.element1-gallery .none-mobile a::before,
.element2-gallery .none-desktop a::before{
    content: '';
    width: 100px;
    height: 2px;
    border-radius: 5px;
    background-color: #282525;
    position: absolute;
    left: 0;
    bottom: 0;
}
.element2-gallery{
    margin-top: 40px;
}
.element2-gallery .none-desktop{
    display: none;
}
.element2-gallery div .size-large{
    font-size: 25px;
    line-height: 32px;
}
#section-gallery .flex-gallery2{
    margin-top: 30px;
    gap: 20px;
}
#section-gallery .flex-gallery2 img[alt='gombe']{
    width: min(600px, 100%);
}
#section-gallery .flex-gallery2 img{
    height: 400px;
    border-radius: 8px;
}
#section-gallery .flex-gallery2 img:hover{
    opacity: .9;
}




/* Partie footer */
#allez-plus-loin{
    padding: 100px 20px;
}
#allez-plus-loin header h1{
    font-size: 2.3em;
    color: white;
    text-transform: capitalize;
    text-align: center;
}
#allez-plus-loin .container-btn a{
    background-color: white;
    color: black;
    font-weight: bold;
    box-shadow: 0 2px 5px rgba(255, 255, 255, 0.203), 0 2px 3px black;
}
#allez-plus-loin .container-btn a:hover{
    background-color: black;
    color: white;
}

.banniere2{
    background-image: url(images/banniere2.webp);
    background-repeat: no-repeat;
    background-position: top left;
}
footer{
    padding: 50px 30px 20px;
    background-color: rgba(0, 0, 0, 0.1);
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
}
footer h1{
    font-size: 10vw;
    color: white;
    font-family: 'Poppins', sans-serif;
}
footer p{
    color: white;
    text-align: center;
}

@media all and (max-width: 1024px) {
    /* Hedear de la page */
    header{
        padding: 20px;
    }
    .container-flex-item2{
        display: none;
    }
    #container-burger{
        display: block;
    }
    #container-burger:has(:checked) .menu-burger{
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
    #container-burger:has(:checked) #logo-burger{
        color: white;
    }
    #container-burger:has(:checked) #logo-burger span.open{
        display: none;
    }
    #container-burger:has(:checked) #logo-burger span.close{
        display: inline-block;
        text-decoration: underline;
    }
    /* Section accueil */
    #section-accueil{
        padding: 70px 15px 50px;
    }
    
    #section-accueil .grid-container{
       display: grid;
       grid-template-areas: 'item1 item1'
                            'item2 item2';
    }
    .grid-container-item1 h1{
        text-align: center;
        width: auto;
    }
    
    .grid-container-item1 .container-btn{
        margin-top: 30px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 20px;
    }
    .container-btn div:last-child{
        text-align: center;
    }
    .container-btn .description{
        width: 100%;
    }
    .grid-container .grid-container-item2 .flex-contact{
        margin-top: 50px;
        display: flex;
        flex-direction: column;
        align-items: center;
        height: auto;
        gap: 40px;
        justify-content: space-between;
    }
    .grid-container .grid-container-item2 .contact-reseau{
        flex-direction: row;
        align-items: center;
        justify-content: flex-end;
        gap: 20px;
        order: 1;
        width: 100%;
    }

    /* Partie principal du site */

    /* La section à propos */
    #section-apropos{
        padding-left: 20px;
        padding-right: 20px;
    }
    .container-apropos{
        flex-direction: column;
    }
    .container-apropos header{
        flex: 1;
    }
    .container-apropos header h1{
        margin-bottom: 20px;
        text-align: center;
    }
    .container-apropos .apropos-article{
        flex: 1;
    }
    #section-destination .grid-destination{
        margin: 30px auto 50px;
        display: grid;
        grid-template-columns: 100%;
        gap: 20px;
    }
    #section-destination .grid-destination .element1{
        grid-column: auto;
    }

    /* Section galleries */
    #section-gallery{
        padding: 100px 20px;
    }
    #section-gallery .grid-gallery{
        grid-template-columns: 100%;
    }
    .element1-gallery{
        height: auto;
        display:  block;
    }
    .element1-gallery .none-mobile{
        display: none;
    }
    .element2-gallery{
        margin-top: 0px;
    }
    .element2-gallery .none-desktop{
        display: flex;
        justify-content: end;
        margin-bottom: 50px;
    }
    #section-gallery .flex-gallery2 img{
        width: 100%;
        height: 300px;
    }
   
}

@media all and (max-width: 768px) {
    .apropos-article article .flex-statistique{
        margin-top: 80px;
        flex-direction: column;
        gap: 40px;
    }
    .grid-destination .element-grid-destination .article-destionation-relative{
        background-color: white;
    }
    .grid-destination .element-grid-destination .article-destionation-relative .content-absolute{
        position: static;
        transform: translateY(0);
        opacity: 1;
        visibility: visible;
        background-color: white;
        padding: 10px 20px;
        color:#191818;
        
    }
    #section-destination .grid-destination .element-grid-destination img{
        max-height: 450px;
        height: 250px;
        border-radius: 0;
    }
    /* Section galleries */
    #section-gallery .flex-gallery2{
        flex-direction: column;
        margin-top: 30px;
        gap: 20px;
    }
    #section-gallery .flex-gallery2 img[alt='gombe']{
        width: 100%;
    }
}